
<div style="text-align:center">
    <h1>
     Bienvenido Al Sistema Perfeccionamiento profesional!
    </h1>
    
    <img width="400" alt="Angular Logo" src="assets/img/up.png">
  </div>
  <h2>Puedes Usar los Siguientes Links para saber mas de la Universidad : </h2>
  <ul>
    <br>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://webapp.upeu.edu.pe/academico/login.jsp">Portal Academico</a></h3>
    </li>
    <br>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://patmos.upeu.edu.pe/web/index.html">Patmos Upeu</a></h3>
    </li>
   
  </ul>
  
  <router-outlet></router-outlet>
  